* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    font-family: 'Questrial', sans-serif;
}

img {
    width: 150px;
}

h2 {
    color: #5fbaa7;
    margin: 20px 0;
    font-size: 2.2rem;
    text-align: center;
}

p {
    text-align: center;
    margin: 20px 0;
}

.container {
    width: 400px;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.currency select {
    padding: 10px 20px 10px 10px;
    font-size: 1.3rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
    border: 2px solid lightgray;
    border-radius: 3px;
}

.currency input {
    padding: 10px;
    font-size: 2rem;
    text-align: right;
    background-color: transparent;
    border: none;
    width: 200px;
}

.swap-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    text-align: right;
    padding: 0 10px;
    font-weight: bold;
    color: #5fbaa7;
}

.btn {
    background-color: #5fbaa7;
    border-radius: 5px;
    border: 2px solid #5fbaa7;
    font-size: 1.2rem;
    padding: 5px 15px;
    font-weight: bold;
}

select:focus,
.btn:focus,
input:focus {
    outline: none;
}

@media (max-width:600px) {
    .currency input {
        width: 150px;
        font-size: 1rem;
    }

    .container {
        width: 200px;
    }

    .currency select {
        padding: 5px 10px 5px 5px;
        font-size: 0.8rem;
        background-position: right 0px top 50%, 0, 0;
    }

    .btn {
        font-size: 1rem;
        padding: 1px 11px;
    }
    
    .rate {
        text-align: right;
        padding: 0px 10px;
        font-weight: normal;
        font-size: 0.8rem;
    }
}